@font-face {
  font-family: JetBrains Mono NL;
  src: url(../fonts/JetBrainsMonoNL-Regular.ttf);
  font-weight: 400;
}

:root {
  --h1-font-size: 30px;
  --font-size: 16px;
}

html,
body {
  min-width: 575px;
}

body {
  font-family: JetBrains Mono NL, Arial, Helvetica, sans-serif;
  background-color: whitesmoke;
}

.page-title {
  display: block;
  margin-top: 5vh;
  margin-bottom: 5vh;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.page-title h1 {
  font-size: var(--h1-font-size);
  text-align: center;
  margin-bottom: 5vh;
}

.page-title label {
  display: block;
  font-size: 24px;
}

th,
td {
  border: 1px solid black;
  border-collapse: collapse;
  text-align: center;
  vertical-align: middle;
  font-size: var(--font-size);
}
