:root {
    --primary-color: blue;
    --h1-size: 21px;
    --padding: 8px;
    --font-size: 12px;
    --td-max-width: 165px;
    --input-height: 36px;
}

body {
    background-color: whitesmoke;
}

.page-title {
    margin-top: 20px;
    margin-bottom: 20px;
}

.page-title h1 {
    font-size: var(--h1-size);
    text-align: center;
    font-weight: bold;
}

.content {
    justify-content: center;
    align-items: center;
    text-align: center;
}

.table {
    justify-content: center;
}

.table th,
.table td {
    padding: var(--padding);
    border: 1px solid black;
    border-collapse: collapse;
    text-align: center;
    vertical-align: middle;
    font-size: var(--font-size);
}

.desc,
.item-name {
    max-width: var(--td-max-width);
    text-overflow: ellipsis;
}

.btn {
    font-size: var(--font-size);
    margin-bottom: 2px;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
}

.btn:last-child {
    margin-bottom: 0;
    padding-left: 0.9rem;
    padding-right: 0.9rem;
}

#add-btn-container {
    position: relative;
    /* background-color: red; */
    width: 100%;
    height: 33px;
    border-radius: 5px;
}

#add-btn-container button {
    position: absolute;
}

.modal-body label {
    font-size: var(--font-size);
    display: block;
    margin-top: 20px;
    margin-bottom: 3px;
    margin-left: 5%;
}

.modal-body label:first-child {
    margin-top: 0;
}

.modal-body {
    justify-content: center;
    align-items: center;
}

.modal-body select {
    margin-left: 5%;
}

.modal-body input,
.modal-body textarea {
    width: 90%;
    margin-left: 5%;
    height: var(--input-height);
}

@media (max-width: 450px) {
    #add-btn-container button {
        right: 2vw;
    }
}

@media (min-width: 451px) {
    #add-btn-container button {
        right: 4vw;
    }

    :root {
        --h1-size: 22px;
        --font-size: 13px;
        --input-height: 36px;
        --padding: 9px;
    }
}

@media (min-width: 576px) {
    #add-btn-container button {
        right: 6vw;
    }

    :root {
        --h1-size: 23px;
        --font-size: 14px;
        --input-height: 39px;
        --padding: 10px;
    }
}

@media (min-width: 768px) {
    #add-btn-container button {
        right: 8vw;
    }

    :root {
        --h1-size: 24px;
        --font-size: 15px;
        --input-height: 42px;
        --padding: 11px;
    }
}

@media (min-width: 992px) {
    #add-btn-container button {
        right: 9vw;
    }

    :root {
        --h1-size: 25px;
        --font-size: 16px;
        --input-height: 45px;
        --padding: 12px;
    }
}

@media (min-width: 1200px) {
    #add-btn-container button {
        right: 9vw;
    }

    :root {
        --h1-size: 26px;
        --font-size: 17px;
        --input-height: 48px;
        --padding: 13px;
    }
}

@media (min-width: 1400px) {
    #add-btn-container button {
        right: 9vw;
    }

    :root {
        --h1-size: 27px;
        --font-size: 18px;
        --input-height: 51px;
        --padding: 14px;
    }
}