@font-face {
  font-family: JetBrains Mono NL;
  src: url(../fonts/JetBrainsMonoNL-Regular.ttf);
  font-weight: 400;
}
:root {
  --main-font: JetBrains Mono NL;

  /* COLORS */
  --light: #fff;
  --dark: #000;
  --bg-col: #2a2d34;
  --wrap-col: #5c946e;
  --heading-col: #30c5ff;

  /* SIZES */
  --font-size: 16px;
  --h1-font-size: 32px;
  --w-register-form: 300px;
  --err-font-size: 12px;
}

html,
body {
  min-width: 575px;
}

body {
  background-color: var(--bg-col);
  color: var(--dark);
  font-family: var(--main-font), "Courier New", Courier, monospace;
  font-size: var(--font-size);
}

.content {
  background-color: var(--bg-col);
  height: 100vh;
  align-items: center;
  justify-content: center;
}

.wrapper {
  background-color: var(--heading-col);
  align-items: center;
  justify-content: center;
  border-radius: 1rem;
  border: 1px solid black;
}

.heading-container {
  text-align: center;
  margin: 1rem 0 1rem 0;
  padding: 0.4rem;
  font-size: var(--h1-font-size);
  color: var(--dark);
  /* background-color: var(--heading-col); */
  border-radius: 1rem 1rem 0 0;
}

.heading-container h1 {
  margin: 0;
}

.form-container {
  background-color: var(--wrap-col);
  width: var(--w-register-form);
  padding: 2rem;
  border-radius: 0 0 1rem 1rem;
  border-top: 1px solid black;
}

#registrationForm input[type="text"],
input[type="password"] {
  width: 100%;
  margin-bottom: 0.5rem;
}

#registrationForm input[type="text"],
input[type="password"] {
  border-radius: 0.2rem;
  border: 1px solid black;
}

.error-message {
  display: flex;
  height: 1.5rem;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 0.2rem;
  align-items: center;
  justify-content: center;
}

.error-message p {
  margin: 0;
  color: #000;
  font-size: var(--err-font-size);
}

.submit-btn-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
}
.submit-btn-container input[type="submit"] {
  border: 1px solid black;
  width: 50%;
}

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.login-container a {
  text-decoration: none;
  border: 1px solid black;
  width: 50%;
}

#passStrength {
  width: 100%;
}

meter {
  height: 20px;
}

#errorMsg {
  background-color: transparent;
}

/***** EXTRA-SMALL SCREEN SIZE *****/
@media (max-width: 575px) {
  :root {
    /***** SIZES *****/
    --font-size: 16px;
    --h1-font-size: 32px;
    --w-register-form: 300px;
    --err-font-size: 12px;
  }
}

/***** SMALL SCREEN SIZE *****/
@media (min-width: 576px) {
  :root {
    /***** SIZES *****/
    --font-size: 16.5px;
    --h1-font-size: 34px;
    --w-register-form: 320px;
    --err-font-size: 12.5px;
  }
}

/***** MEDIUM SCREEN SIZE *****/
@media (min-width: 768px) {
  :root {
    /***** SIZES *****/
    --font-size: 17px;
    --h1-font-size: 36px;
    --w-register-form: 340px;
    --err-font-size: 13px;
  }
}

/***** LARGE SCREEN SIZE *****/
@media (min-width: 992px) {
  :root {
    /***** SIZES *****/
    --font-size: 17.5px;
    --h1-font-size: 38px;
    --w-register-form: 360px;
    --err-font-size: 13.5px;
  }
}

/***** EXTRA-LARGE SCREEN SIZE *****/
@media (min-width: 1200px) {
  :root {
    /***** SIZES *****/
    --font-size: 18px;
    --h1-font-size: 40px;
    --w-register-form: 380px;
    --err-font-size: 14px;
  }
}

/***** EXTRA-EXTRA-LARGE SCREEN SIZE *****/
@media (min-width: 1400px) {
  :root {
    /***** SIZES *****/
    --font-size: 18.5px;
    --h1-font-size: 42px;
    --w-register-form: 400px;
    --inc-pass-font-size: 16px;
    --err-font-size: 14.5px;
  }
}
